/* Essential styles below */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "ui-sans-serif";
}

a {
    text-decoration: none !important; /* Make this a priority to happen */
}

.Bottom {
    border: solid 2px black;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    height: 150px;
    background-color: beige;
    display: flex;
    flex-direction: row;
}

/* Main CSS */
