/* Essential styles below */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "ui-sans-serif";
}

a {
    text-decoration: none !important; /* Make this a priority to happen */
}

.Bottom {
    border: solid 2px black;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    height: 150px;
    background-color: beige;
}

/* No need to modify this unless fixing it */

.Top {
    background-color: grey;
    padding-top: 0px;
    padding-left: 0.1cm;
    padding-right: 0.1cm;
    padding-bottom: 0.15cm;
}

/* For deving mode, the navbar is the greenyellow part of the top bar */

.NavBar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    margin-top: -10px;
    background-color: greenyellow;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form input {
    width: 300px;
    height: 23.5px;
}

form label {
    font-size: 18px;
    padding-top: 25px;
}

form button {
    border: none !important; /* This is will make it become an priority that there is NO borders */
    background-color:#3498db ;/* Blue background color for the buttons*/
    color: white; /* Text color, TEMP */
    font-weight: 1000;
    padding: 0.2cm;
    width: 110px;
    text-align: center;
    align-items: center;
    font-style: italic;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

/* Temp */

#Pass {
    border: 2.5px lightgray solid;
    padding: 0.01cm;
    background-color: blueviolet;
    color: red;
}

#Mail {
    border: 2.5px lightgray solid;
    padding: 0.01cm;
    background-color: aqua;
    color: red;
}

#User {
    border: 2.5px lightgray solid;
    padding: 0.01cm;
    background-color: cornsilk;
    color: red;
}