* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#message-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
}

.message-footer small {
    color: white !important;
}

.message-body span {
    color: white !important;
}