

* {
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#logout-header {
    font-size: 24px;
}

#logout-header:hover {
    box-shadow: 2px 2px 2px rgb(0,0,0);
    transition: all 1s;
}

.Bar-Header {
    background-color: blueviolet;
    padding: 10px;
    width: 100%;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px black solid;
    margin-bottom: 10px;
}

.Bar-Header h1 {
    color: white;
    background-color: #5E00B1;
    border: 2px black solid;
    padding: 5px 10px;
    border-radius: 5px;
}

.Bar-Header #logout-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    top: 1cm;
}

.Bar-Header h1 span {
    color: yellow;
    font-weight: bolder;
    font-style: italic;
}