* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.Bar {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    width: 100%;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
}
