* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Open Sans Condensed", monospace;
}

#sitespeak {
    display: flex;
    margin: auto;
    margin-top: 270px;
    max-width: 30%;
    max-height: 30%;
}

#subtitle {
    color: azure;
    font-family: sans-serif;
    font-size: xx-large;
    text-align: center;
    animation: fadeIn ease 8s;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

/* Leó is working on this error */

#signup {
    display: inline-block;
    margin-top: 90px;
    margin-left: 700px;
    padding: 15px 50px;
    text-align: center;
    color: white;
    font-size: larger;
    font-family:sans-serif;
    background-color: blueviolet;
    border-radius: 20px;
}

/* Fixing this aswell */

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(30%);
}

