* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

body {
    font-family: Helvetica monospace;
    background-image: none;
}

.login-container {
    background-image: url("../../assets/starrysky.jpg");
    height: 100vh;
    background-position: center;}

/* Form */

#yellow {
    color: yellow;
}

#blue {
    color: blue;
}

.login {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login label {
    font-size: 20px;
    color: white;
}

#advert {
    margin-bottom: 10px;
    font-size: 43px;
}

.user {
    margin: 10px 0;
}

/* Input */

.login input:focus {
    color: red;
    transition: all 1s;
    font-size: 20px;
    width: 390px;
}

/* Buttons */

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

#sign-up-button--login {
    background-color: #5E00B1;
    color: white;
    padding: 15px;
    box-shadow: none;
    border: none;
    font-size: 20px;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 20px;
}

#sign-up-button--login:hover {
    background-color: #8700FF;
    transition: all 1s;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

#sign-up-link-button--login {
    font-size: 20px;
    background-color: #39007E;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

#sign-up-link-button--login-ROUTER {
    text-decoration: underline;
    color: cadetblue;
    text-decoration-color: cadetblue;
}

#sign-up-link-button--login-ROUTER:hover {
    color: #DAF66E;
    transition: all 1s;
}

p {
    color: white;
}