* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

<<<<<<< HEAD
.about h3, h1{
    color: white;
}

=======
.content {
    background-color: #8700FF; /* temp */
}
>>>>>>> 490fa0fdba776340e0a3733eea6f44ef665567db
