* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    width: 40%;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    top: 0;
    position: relative;
}

#about-Image {
    flex-wrap: wrap;
    display: flex;
}

.content h3 {
    color: white;
}