* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    width: 100vw;
    height: max-content;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    top: 0;
    position: relative;
}

#about-Image {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#latin {
    color: white;
    margin-top: 20px;
    font-size: 50px;
    margin-bottom: 10px;
    background-color: #5E00B1;
    border-radius: 25px;
    padding: 10px;
    width: 40%;
    box-shadow: 6px 6px 6px black;
}

.content h3 {
    color: white;
    background-color: #5E00B1;
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
    width: 60%;
    box-shadow: 6px 6px 6px black;
}