* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.signup-container {
    background-image: url("../../assets/starrysky.jpg");
    height: 100vh;
    background-position: center;
}

.signup-form form {
    margin-top: 100px;
}

#speak {
    color: yellow;
}

#Site {
    color: rgb(4, 0, 176);
}

.field-wrap {
    display: flex;
    flex-direction: column;
}

.field-wrap label {
    color: white;
    margin-top: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

#link_wrap {
    color: cadetblue;
}

input[type="email"], input[type="text"], input[type="password"]{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

.all h1, h2 {
    color: white;
    margin-bottom: 10px;
}

.all h1 {
    font-size: 43px;
}

.mail, .user, .pass, .word{
    margin-bottom: 15px;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="email"]:focus, input[type="text"]:focus, input[type="password"]:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}